<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="spacer"></div>
  <span>Welcome to my weather app!</span>
  <div class="spacer"></div>
</div>  

<div class="content" role="main">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
    <span>Localcast Weather</span>
    <span class="spacer"></span>
    <span>Your city, your forecast, right now!</span>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <div>
    <app-citysearch (searchEvent)="doSearch($event)"></app-citysearch>
  </div>

  <mat-card color="secondary">
    <app-current-weather [current]="currentWeather"></app-current-weather>
  </mat-card>

</div>
